@page
@model StartElisaModel

@{

}

<div class="container">
    <div class="row justify-content-between pb-3">
        <div class="col">
            <h4 class="pb-3">Välj prover för ELISA</h4>
        </div>
        <div class="col-auto">
            <img src="../img/ElisaPlate.jpg" height="100" />
        </div>
    </div>


    @if (Model.ElisaId == null)
    {
        <table class="table table-sm border-bottom">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Samples[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Samples[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Samples[0].DateAdded)
                    </th>
                    <th>
                        Välj prov
                    </th>
                </tr>
            </thead>
            <form class="form-group" method="post">
                <div class="d-flex justify-content-center pb-3">
                    <input type="submit" value="Starta ELISA med valda prover" class="btn btn-primary" />
                </div>
            <tbody>
                    @foreach (var sample in Model.Samples)
                    {
                    <tr class="border-bottom">
                        <td>@sample.Id</td>
                        <td>@sample.Name</td>
                        <td>@sample.DateAdded.ToShortDateString()</td>
                        <td class="form-group form-check mb-0">
                            <input type="checkbox" name="SelectedIds" value="@sample.Id">
                        </td>
                    </tr>
                    }
            </tbody>
            </form>
        </table>
    }

    else
    {
        <div>
            <h5>Elisa @Model.ElisaId startad</h5>
            <a href="./ViewLayout/?ElisaId=@Model.ElisaId">Visa platt-layout</a>
        </div>
    }

</div>




