@page
@model LimsUI.Pages.ElisaPages.ViewLayoutModel
@{
}


<div class="container">
    <div class="row justify-content-between pb-3">
        <div class="col">
            <h4 class="pb-3">Layout för ELISA</h4>
        </div>
        <div class="col-auto">
            <img src="/img/ElisaPlate.jpg" height="100" />
        </div>
    </div>


    <div id="layout" class="container px-5">
        @if (Model.Layout != null)
        {
            <p>ELISA id: @Model.Layout.ElisaId</p>
            <table style="table-layout: fixed ; width: 75%; text-align: center" class="table table-sm border-bottom">
                <thead>
                    <tr>
                        <th></th>
                        @for (int i = 1; i < 13; i++)
                        {
                            <th>@i</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 8; i++)
                    {
                        <tr class="border-bottom">

                            <th>@Convert.ToChar(i + 65)</th>

                            @for (int j = 0; j < 12; j++)
                            {
                                @if (Model.Layout.Wells[i + (j * 8)].Reagent == null)
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@Model.Layout.Wells[i + (j*8)].Reagent</td>
                                }
                            }

                        </tr>
                    }
                </tbody>
            </table>

            <input type="button" onclick="printDiv('layout')" value="Skriv ut" />
        }
    </div>
    
    
    <h6 class="pt-5">Välj ELISA för att visa layout</h6>

    @foreach (var id in Model.ElisaIds)
    {
        <div>
            <a href="~/ElisaPages/ViewLayout/?ElisaId=@id">ELISA id: @id</a>
        </div>
    }


</div>

